/* styles.css */

/* Styling for the body (background) */
body {
    background-image: url('books.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center center; 
}

/* Styling for the container */
.container {
    background-color: rgba(255, 255, 255, 0.8); /* Latar belakang container dengan transparansi */
    padding: 20px;
    border-radius: 10px; /* Tambahkan sudut bulat pada container */
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Efek bayangan pada container */
}

/* Styling for the h1 header */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Styling for the form elements */
.form-control {
    width: 100%;
}

/* Styling for the Filter button */
.btn-primary {
    background-color: #a96350; /* Warna latar belakang header tabel */
    width: 100%;
}

/* Styling for "Back" button */
.btn-secondary {
    background-color: #d1332e; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    border: none; /* Hilangkan border */
    padding: 10px 20px; /* Ruang dalam tombol */
    text-align: center; /* Teks rata tengah */
    text-decoration: none; /* Hilangkan dekorasi teks */
    display: inline-block;
    font-size: 16px; /* Ukuran teks */
    margin: 10px 0; /* Ruang luar tombol */
    cursor: pointer; /* Pointer tangan saat mengarahkan kursor */
    border-radius: 5px; /* Bentuk sudut tombol */
    transition: background-color 0.3s; /* Animasi perubahan warna latar belakang */
}

/* Hover state for "Back" button */
.btn-back:hover {
    background-color: #0056b3; /* Warna latar belakang saat dihover */
}

/* Styling for the table */
.table {
    background-color: rgba(255, 255, 255, 0.9); /* Latar belakang tabel dengan transparansi */
}

/* Styling for table header */
.table thead {
    background-color: #594b4b; /* Warna latar belakang header tabel */
    color: #fff; /* Warna teks header tabel */
}

/* Styling for table rows */
.table tbody tr {
    background-color: #f8f9fa; /* Warna latar belakang baris tabel */
}

/* Styling for table rows on hover */
.table tbody tr:hover {
    background-color: #e2e6ea; /* Warna latar belakang saat hover baris tabel */
}
